<p id="notice"><%= notice %></p>

<h1>釣具店 情報</h1>

<table>
  <thead>
    <tr>
      <th>店舗名</th>
      <th>営業時間</th>
      <th>住所</th>
      <th>定休日</th>
      <th>備考欄</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr class="text-info">
        <td><%= store.name %></td>
        <td><%= store.open_time %></td>
        <td><%= store.address %></td>
        <td><%= store.closing_day %></td>
        <td><%= store.notes %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit',edit_store_path(store) if current_user&.admin? %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } if current_user&.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path if current_user&.admin? %>
