<p id="notice"><%= notice %></p>

<p>
  <strong>店舗名:</strong>
  <a class="text-info"><%= @store.name %></a>
</p>

<p>
  <strong>営業時間:</strong>
  <a class="text-info"><%= @store.open_time %></a>
</p>

<p>
  <strong>住所:</strong>
  <a class="text-info"><%= @store.address %></a>
</p>

<p>
  <strong>定休日:</strong>
  <a class="text-info"><%= @store.closing_day %></a>
</p>

<p>
  <strong>備考欄:</strong>
  <a class="text-info"><%= @store.notes %></a>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag(@store.image.to_s) %>
</p>
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
