<p id="notice"><%= notice %></p>

<p>
  <strong>テーマ:</strong>
  <a class="text-info"><%= @micropost.title %></a>
</p>

<p>
  <strong>ストーリー:</strong>
  <a class="text-info"><%= @micropost.story %></a>
</p>
<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
