<!DOCTYPE html>
<html>
  <head>
    <title>FishingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="container background-container">
          <div class="masthead clearfix">
            <div class="container inner">
              <h3 class="masthead-brand">釣り情報</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><%= link_to "記事", microposts_path %></li>
                  <li class="active"><%= link_to "魚図鑑", dictionaries_path %></li>
                  <li class="active"><%= link_to "釣具店", stores_path %></li>
                </ul>
              </nav>
            </div>
          </div>
          <ul class="nav navbar-nav" style="text-align: right; list-style: none; flex-direction: initial;">
            <li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "help",    help_path %></li>
            <% if current_user %>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "log in", new_user_session_path %></li>
            <% end %>
          </ul>
          <%= yield %>
        </div>
      </div>
    </div>
    
  </body>
</html>
